{% macro start() %}
{% if LOCAL -%}
    Profiler.start()
{%- endif %}
{% endmacro %}

{% macro end(s='???') %}
{% if LOCAL -%}
    Profiler.end("""{{ s|string }}""")
{%- endif %}
{% endmacro %}

{% macro end_now(s='???') %}
{% if LOCAL -%}
    Profiler.end_now("""{{ s|string }}""")
{%- endif %}
{% endmacro %}
