// sink constants!

{% set Kind = namespace() %}

{% set Kind.NONE = 0 %}

{% set Kind.ALLY_CORE = 1 %}
{% set Kind.ENEMY_CORE = 2 %}

// like towers or foundries or splitters(?)
{% set Kind.ALLY_CONSUMER = 3 %}
{% set Kind.ENEMY_CONSUMER = 4 %}
