{% set PROFILE = True %}
{% set PROFILE = PROFILE and LOCAL %}

{% macro start() %}
{% if PROFILE -%}
    Profiler.start()
{%- endif %}
{% endmacro %}

{% macro end(s='???') %}
{% if PROFILE -%}
    Profiler.end(f"""{{ s|string }}""")
{%- endif %}
{% endmacro %}

{% macro end_now(s='???') %}
{% if PROFILE -%}
    Profiler.end_now(f"""{{ s|string }}""")
{%- endif %}
{% endmacro %}
